<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>Dashboard</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<script src="/js/jquery.js"></script>
	</head>

	<body>
		<div class="container header clearfix">
			<header class="clearfix">
				<h1><a href="index.html">Dashboard</a></h1>
				<a href="/?m=user&a=logout" class="btn logout">退出</a>
			</header>
		</div>
		<div class="body clearfix">
			<div class="left">
				<ul class="list-group">
				  <li class="list-group-item"><a href="/?m=banner">图片轮播管理</a></li>
				  <li class="list-group-item"><a href="/?m=notify">公告管理</a></li>
				  <li class="list-group-item"><a href="/?m=order">订单管理</a></li>
				  <li class="list-group-item"><a href="/?m=club">棋牌室管理</a></li>
				  <li class="list-group-item"><a href="/?m=user&a=logout">退出</a></li>
				</ul>
			</div>
			<div class="right">
				<ul class="nav nav-tabs">
				  <li><a href="/?m=banner">列表</a></li>
				  <li><a href="/?m=banner&a=add">添加图片</a></li>
				  <li class="active"><a href="/?m=banner&a=edit&id={{$data.id}}">编辑图片</a></li>
				</ul>
				<br />
				<form action="/?m=banner&a=editsave" method="post" id="bannerform" enctype="multipart/form-data" class="form-inline">
				  <input type="hidden" value="{{$data.id}}" name="id" />
				  <div class="form-group">
				    <label for="weight">图片&nbsp;&nbsp;地址：</label>
				    <input type="text" class="form-control" name="path" value="{{$data.path}}" id="path" value="10" placeholder="图片外部链接地址(优先)" />
				  </div><br /><br />
				  <div class="form-group">
				    <label for="exampleInputFile">图片&nbsp;&nbsp;文件：</label>
				    <input type="file" name="file" id="file" /><br />
				    <img src="{{$data.path}}" alt="" style="width:200px;height:120px;"/>
				  </div><br /><br />
				  <div class="form-group">
				    <label for="exampleInputFile">链&nbsp;&nbsp;&nbsp;&nbsp;接：</label>
				    <input type="text" class="form-control" name="url" id="url" /><br />
				  </div><br /><br />
				  <button type="submit" class="btn btn-primary">保存</button>
				</form>
			</div>
		</div>
	</body>
</html>