<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>Dashboard</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>

	<body>
		<div class="container header clearfix">
			<header class="clearfix">
				<h1><a href="index.html">Dashboard</a></h1>
				<a href="/?m=user&a=logout" class="btn logout">退出</a>
			</header>
		</div>
		<div class="body clearfix">
			<div class="left">
				<ul class="list-group">
				  <li class="list-group-item"><a href="/?m=banner">图片轮播管理</a></li>
				  <li class="list-group-item"><a href="/?m=notify">公告管理</a></li>
				  <li class="list-group-item"><a href="/?m=order">订单管理</a></li>
				  <li class="list-group-item"><a href="/?m=club">棋牌室管理</a></li>
				  <li class="list-group-item"><a href="/?m=user&a=logout">退出</a></li>
				</ul>
			</div>
			<div class="right">
			
			</div>
		</div>
		<script>
		</script>
	</body>
</html>